.App {
  text-align: center;
  padding: 0px;
  align-content: center;
}

.App-header .MuiTabs-root {
  color: white;
}
.App-header .MuiTabs-indicator {
  background-color: white;
}
.App-header .Mui-selected {
  color: white;
}

.App-main {
  display: flex;
  height: calc(90vh);
  font-size: calc(10px + 2vmin);
  color: white;
}

/* div[class*='variantInfo'] {
  background-color: seagreen !important;
  max-width: 425px;
} */
/* div[class*='variantError'] {
  background-color: crimson !important;
  max-width: 425px;
} */
.MuiSnackbarContent-root {
  max-width: 400px;
}