.App {
  text-align: center;
  padding: 10px;
}

.App-menu {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu .MuiGrid-item {
  padding: 10px;
}

.App-main {
  font-size: calc(10px + 2vmin);
  color: white;
}
