Adafruit-Blinka==3.7.1
adafruit-circuitpython-busdevice==4.1.1
adafruit-circuitpython-motor==3.0.0
adafruit-circuitpython-pca9685==3.2.6
adafruit-circuitpython-register==1.7.4
adafruit-circuitpython-servokit==1.1.1
Adafruit-PlatformDetect==2.1.0
Adafruit-PureIO==1.0.4
aiodns==2.0.0
aiohttp==3.6.2
aiohttp-cors==0.7.0
aiohttp-devtools==0.13.1
APScheduler==3.6.1
astroid==2.3.2
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.4.4
beautifulsoup4==4.8.2
brotlipy==0.7.0
cchardet==2.1.4
certifi==2019.11.28
cffi==1.13.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==4.0.2
devtools==0.5.1
gTTS==2.1.1
gTTS-token==1.1.3
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.5.2
pip-autoremove==0.9.1
pycares==3.0.0
pycodestyle==2.5.0
pycparser==2.19
pyftdi==0.42.2
pygame==1.9.6
Pygments==2.4.2
pylint==2.4.3
pyserial==3.4
python-dotenv==0.10.3
pytz==2019.3
pyusb==1.0.2
requests==2.23.0
simple-pid==0.2.4
six==1.12.0
soupsieve==2.0
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.25.8
w1thermsensor==1.3.0
watchgod==0.5
wrapt==1.11.2
xmltodict==0.12.0
yarl==1.3.0
