.Home {
    flex: 1 0 10%;
    background-image: url('../../background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .MuiGrid-root {
    padding: 0em 1em 0em 1em;
    flex: 1;
    // flex-direction: column;
}

.Home .button-advanced {
    // padding-top: 5.5em;

    .MuiFab-root {
        background-color: crimson;
        color: white;
        font-weight: bold;
        margin-bottom: 1em;
    }
}