.Advanced {
    flex: 1 0 10%;
    background-image: url('../../background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.Advanced .MuiPaper-root {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.2em;
    margin: 0.3em;
    text-align: start;
}

/******* SLIDER *******/
.Advanced .MuiSlider-root {
    margin: 2em 0 0.7em 0.7em; // 0.7em 0 0.7em 1.4em
    width: 40vw;// 85vw;
    height: 8px;
}

.Advanced .MuiSlider-root.temperature {
    color: crimson;
}

.Advanced .MuiSlider-root.water {
    color: aqua;
}

.Advanced .MuiSlider-root.time {
    color: gold;
}

.Advanced .MuiSlider-root span[class^='PrivateValueLabel-label-'] {
    background-color: black;
    border-radius: 20%;
    padding: 0 0.1em;
}

.Advanced .MuiSlider-thumb {
    margin: 2.4em 0 0.7em 1.4em;
    height: 18px;
    width: 18px;
    margin-top: -5px;
    margin-left: -5px;
}

.Advanced .MuiSlider-track,
.Advanced .MuiSlider-rail,
.Advanced .MuiSlider-mark {
    height: 8px;
}

.Advanced .MuiSlider-valueLabel {
    left: calc(-50% + 2px);
}

.Advanced .MuiSlider-markLabel {
    color: rgba(255, 255, 255, 1);
    margin-top: 0.5em;
}


/******* SWITCHES *******/
.Advanced .MuiSwitch-root {
    margin-left: 0.5em;
}
.Advanced .MuiFormControlLabel-label {
    font-size: 0.8rem !important;
}
.Advanced .MuiSwitch-colorSecondary.Mui-checked {
    color: seagreen;
}
.Advanced .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: seagreen;
}
.Advanced .heater .MuiSwitch-colorSecondary.Mui-checked {
    color: crimson;
}
.Advanced .heater .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: crimson;
}


/******* ITEMS *******/
.Advanced h4 {
    text-align: start;
    padding: 0;//0 0 0 1em;
    margin: 0.5em;
}

.Advanced .label {
    padding-left: 0.5em;//1.4em;
    font-size: 0.5em;
    text-align: right;
}

.Advanced .button-set, .Advanced .button-set:hover {
    background-color: seagreen;
    color: white;
}

.Advanced .button-stop, .Advanced .button-stop:hover {
    background-color: crimson;
    color: white;
}

.Advanced .MuiButton-contained.Mui-disabled {
    background-color: crimson;
    opacity: 0.3;
    color: white;
}