.Advanced {
    flex: 1 0 10%;
    background-image: url('../../background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;


    .MuiPaper-root {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 0.2em;
        margin: 0.3em;
        text-align: start;
        border-radius: 0.6em;
    }

    /******* SLIDER *******/
    .MuiSlider-root {
        margin: 1em 0 -0.2em 0.7em; // 2em 0 0.7em 0.7em
        width: 40vw;// 85vw;
        height: 8px;
    }

    .MuiSlider-root.temperature {
        color: crimson;
    }

    .MuiSlider-root.water {
        color: aqua;
    }

    .MuiSlider-root.time {
        color: gold;
    }

    .MuiSlider-thumb {
        margin: 2.4em 0 0.7em 1.4em;
        height: 12px;
        width: 12px;
        margin-top: -4px;
        margin-left: -5px;
    }

    .MuiSlider-track,
    .MuiSlider-rail,
    .MuiSlider-mark {
        height: 4px;
    }

    .MuiSlider-valueLabel {
        left: calc(-50% - 4px);
        span span {
            background-color: black;
            border-radius: 0.2em;
            padding: 0 0.1em;
        }
    }

    .MuiSlider-markLabel {
        color: rgba(255, 255, 255, 1);
    }


    /******* SWITCHES *******/
    .MuiSwitch-root {
        margin-left: 0.5em;
    }
    .MuiFormControlLabel-label {
        font-size: 0.8rem !important;
    }
    .MuiSwitch-colorSecondary.Mui-checked {
        color: seagreen;
    }
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: seagreen;
    }
    .heater .MuiSwitch-colorSecondary.Mui-checked {
        color: crimson;
    }
    .heater .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: crimson;
    }


    /******* ITEMS *******/
    h4 {
        font-size: 0.8em;
        font-weight: lighter;
        text-transform: uppercase;
        opacity: 0.5;
        text-align: start;
        padding: 0;
        margin: 0.5em;
    }

    .foot {
        padding-left: 0.5em;
        margin: -1.0em 1.5em 0.5em 0.9em;
        font-size: 0.5em;
        text-align: right;
    }

    .label {
        padding-left: 1em;
        font-size: 0.7em;
        text-transform: uppercase;
        margin-top: -3.8em;
        margin-bottom: 2em;
        span {
            font-size: 1.6em;
        }
    }

    .button-set, .button-set:hover {
        background-color: seagreen;
        color: white;
    }

    .button-stop, .button-stop:hover {
        background-color: crimson;
        color: white;
    }

    .MuiButton-contained.Mui-disabled {
        background-color: crimson;
        opacity: 0.3;
        color: white;
    }

}