.Recipes {
    flex: 1 0 10%;
    background-image: url('../../background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .MuiButton-contained, 
    .MuiButton-contained:hover {
        background-color: crimson;
        color: white;
        font-weight: bold;
        border-radius: 24px;
        padding: 10px 20px;
    }

    .import-button {
        // padding: 1em;       
        // display: flex;
        // justify-content: flex-end;
        align-self: flex-end;
    }
    
    .total-rows {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5em 1em;
        margin: 0 0.3em;
        text-align: left;
        border-radius: 0.3em;
        font-size: 0.6em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        div {
            align-self: baseline;
        }
    }

    .row {
        padding: 0.5em;
        text-align: left;
        margin: 0.3em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.3em;

        .title {
            display: flex;
            flex-direction: row;            
            h1 {
                margin: 0;
                font-size: 1.4em;
                font-weight: normal;
                flex-grow: 8;

            }
            .icons {
                display: flex;
                justify-content: space-evenly;
                flex-grow: 0.5;
                text-align: right;
            }
        }
        .style {
            font-size: 1em;
            opacity: 0.4;
        }
        .data{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .type, .og, .fg, .ibu, .abv, .color {
                padding: 0 1.2em 0 0;
                font-size: 0.6em;
            }
        }
        .dates{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .cooked, .created {
                font-size: 0.6em;
                padding-right: 0.5em;
            }
        }

        .button-see {
            color: white;
            background-color: seagreen;
        }
        .button-delete {
            color: white;
            background-color: crimson;
        }
    }
    .MuiFab-root {
        margin-left: 7px !important;
    }
    

    
}


.MuiDialog-paper     {
    background-color: crimson !important;
    color: white !important;
    // padding: 0.2em;
    // margin: 0.3em;
    // text-align: start;
    // border-radius: 0.6em;
    .MuiTypography-colorTextSecondary {
        color: white !important;
    }
    .MuiButton-textSecondary {
        color: rgba(255, 255, 255, 0.7) !important;
    }
    .MuiButton-textPrimary {
        color: white !important;
    }
    .MuiDialogActions-root {
        border-top: rgba(255, 255, 255, 0.3) solid 1px;
    }
}